h1, h2, h3, h4, h5 {
  font-family: 'Share Tech Mono';
  text-transform: uppercase;
  color: #fff;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

i {
  font-style: italic;
}

html,body {
  background: #1f1f1f;
  font-family: 'Fira Sans';
  font-size: 14px;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: #fff;
}

p {
  line-height: 22px;
}

ul li {
  line-height: 22px;
}

strong {
  font-weight: bold;
}

div#flex_container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
            
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

header {
  background-color: #1f1f1f;
  height: 60px;
}

div#page {
  display: flex;
  flex-direction: row;
  flex: 1;
  background: #2b2b2b;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

div#pioneer {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 0;
  display: none;
  overflow: auto;
  background-color: #2b2b2b;
  z-index: 101;

  animation: fadein 0.31s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

footer {
  background-color: #1f1f1f;
  height:34px;
}

footer .content {
  margin: 10px 20px;
  height: 14px;
}

#logo {
  float: left;
}

#links {
  float: right;
}

#links li {
  display: inline;
  padding: 0 0 0 30px;
  text-transform: lowercase;
  line-height: 14px;
}

a {
  color: #e81e48;
  font-family: 'Fira Sans';
  font-size: 14px;
  text-decoration: none;
}

a.button {
  text-transform: uppercase;
  padding: 7px 20px;
  color: #fff;
  border: 1px solid #aaa;
  cursor: pointer;
  font-family: 'Share Tech Mono';
}

a.button:hover {
  background-color: #e81e48;
}

a[href^="http://"]:after, 
a[href^="https://"]:after {
  content: url(/static/images/icons/external.png);
  margin: 0 0 0 5px;
}

a.source:after {
  content: '';
  margin: 0;
}

#tab_switcher {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 52px;
}

#op_switcher {
  float: right;
  margin-right: 20px;
}

#op_switcher a {
  line-height: 31px;
  padding: 0;
  width: 70px;
  display: block;
  text-align: center;
}

.switcher a {
  text-transform: uppercase;
  font-family: 'Share Tech Mono';
  padding: 7px 30px;
  float: left;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #efefef;
  color: #efefef;
  background-color: #1f1f1f;
}

.switcher a.selected {
  background-color: #e81e48;
  transition: background-color 0.5s;
}

.switcher a:last-child {
  border-width: 1px;
}

.selectivity-multiple-input-container {
  background: none;
  border: none;
}

#looking_glass {
  float: left;
  width: 32px;
  height: 32px;
  background: #e81e48 url('/static/images/icons/search.svg') left no-repeat;
  border: 1px solid #efefef;
}

#searchform {
  margin: 13px 0 0 20px;
  padding: 0;
  font-family: 'Share Tech Mono';
  flex: 0 0 46px;
}

#searchform input {
  background: none;
  color: #efefef;
  margin-left: 10px;
}

#datacanvas {
  margin: 0;
  background: #2b2b2b;
  padding: 0;
  border: 0;
  flex: 1 1 auto;
}

.fa-remove {
  vertical-align: middle;
}

.fa-remove:before {
  content: "X";
  font-size: 19px;
  vertical-align: middle;
  font-family: 'Share Tech Mono';
}

.tags {
  width: calc(100% - 220px);
}

#people_list {
  height: calc(100% - 134px);
  width: 200px;
  position: absolute;
  overflow: hidden;
  top: 80px;
  left: 0;
  display: none;
}

#inner_scroll {
  position: absolute;
  right: -15px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}

#inner_scroll ul {
  list-style: none;
}

#inner_scroll ul li {
  padding: 7px 0 5px 20px;
  line-height: 16px;
}

#inner_scroll ul li a {
  color: #efefef;
  font-family: 'Share Tech Mono';
}

#inner_scroll ul li.selected {
  background-color: #e81e48;
  transition: background-color 1.3s;
}

#pioneer_overlay {
  background-color: #2b2b2b;
  position: relative; 
  font-family: 'Fira Sans';
  color: #efefef;
  width: 1000px;
  margin: 70px auto 0 auto;
}

.person_left {
  width: 360px;
  padding-right: 50px;
  float: left;
  text-align: center;
}

.person_left div {
  margin: 25px 0;
}

.person_right {
  width: 590px;
  float: right;
}

.person_left a {
  margin-top: 10px;
}

#pioneer_overlay .person_impact_details {
  float: left;
  width: 719px;
}

#pioneer_overlay .person_impact_details div {
  width: 348px;
  display: inline-table;
}

#pioneer_overlay .person_impact_details h4 {
  margin: 45px 0 24px 0;
}

#pioneer_overlay .person_impact_details ul li {
  margin: 10px 0 22px 0;
}

#pioneer_overlay .person_impact_details ul li span {
  font-weight: bold;
}

#pioneer_overlay .person_impact_details ul li span div {
  text-transform: uppercase;
  display: inline;
  margin-left: 15px;
}

#pioneer_overlay .person_impact_details ul li span div.rating div {
  display: inline-table;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 5px;
}

#pioneer_overlay .person_impact_details ol {
  list-style: circle;
}

#pioneer_overlay .person_impact_details ol li {
  display: inline;
}

#pioneer_overlay .person_impact_details ul li p {
  margin: 5px 0 0 0;
}

#pioneer_overlay .person_left img.profile,
#achievement_overlay img {
  border: 2px solid #aaa;
  border-radius: 50%;
}

#pioneer_overlay h2 {
  font-size: 40px;
  margin: 0 0 15px 0;
}

#pioneer_overlay img.flag {
  padding-left: 12px;
  width: 40px;
  height: 30px;
}

#pioneer_overlay p {
  margin: 15px 0;
}

.takeover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #efefef;
  font-size: 20px;
}

.takeover a {
  font-size: 20px;
}

#intro {
  background: #2b2b2b url('/static/images/ui/tube.svg') 92% 89% no-repeat;
  color: #efefef;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#intro_container {
  text-align: center;
  max-width: 570px;
}

#intro_content {
  margin-top: 40px;
}

#intro_container p {
  margin: 12px 0;
  max-width: 500px;
}

#intro_container i {
  font-style: italic;
  font-weight: bold;
}

#intro_container #start {
  display: block;
  margin: 40px auto 0 auto;
  width: 100px;
}

#loading,
#splash,
#comingsoon,
#noresults {
  display: none;
}

.simple_popup {
  position: relative;
  background: #2b2b2b;
  padding: 50px 70px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.simple_popup h2 {
  margin: 0 0 35px 0;
}

.simple_popup p {
  margin: 0 0 23px 0;
}

.simple_popup ul {
  list-style: circle;
  margin: 0 0 23px 0;
}

.simple_popup ul li {
  margin-left: 35px;
}

#impact_key {
  position: absolute;
  bottom: 52px;
  left: 20px;
  display: none;
  text-align: center;
}

#impact_key h5 {
  margin-bottom: 6px;
}

#impact_key ul li {
  height: 22px;
  width: 22px;
  float: left;
  margin-right: 6px;
  border-radius: 11px;
}

.one {
  background-color: #313c53;
}

.two {
  background-color: #3f4d69;
}

.three {
  background-color: #1b48a1;
}

.four {
  background-color: #0677d8;
}

.five {
  background-color: #00fffd;
}

.on {
  background-color: #018efc;
}

.none {
  background-color: #646464;
}

#achievement_overlay {
  display: none;
  position: absolute;
  width: 380px;
  top: 0;
  left: 0;
  background: none;
}

#achievement_overlay .achievement_details {
  text-align: center;
  padding: 24px 0 32px 0;
  border: 1px solid #3f4d69;
  border-radius: 3px;
  background: #2b2b2b;
  min-height: 400px;
}


#achievement_overlay p {
  margin: 15px auto 28px auto;
}

#achievement_overlay h3 {
  background-color: #e81e48;
  display: table;
  margin: 16px auto;
  padding: 4px 12px;
}

#pioneer .close {
  position: absolute;
  font-size: 29px;
  font-family: 'Share Tech Mono';
  right: 20px;
  top: 20px;
  z-index: 200;
  padding: 8px;
  color: #fff;
}

#pioneer .close:hover {
  color: #e81e48;
}
