{% extends "layout.html" %}
{% block body %}
<svg id="datacanvas"></svg>
<div id="people_list">
  <div id="inner_scroll">
    <ul></ul>
  </div>
</div>
<div id="achievement_overlay">
</div>
<div id="impact_key" title="Achievements are graded from 1 (Mildly important) to 5 (Incredibly important).">
  <h5>Impact Scale</h5>
  <ul title="Impactfulness of achievements are color-coded from 1 (low) to 5 (high).">
    <li class="one"></li>
    <li class="two"></li>
    <li class="three"></li>
    <li class="four"></li>
    <li class="five"></li>
  </ul>
</div>

<div class="highlight_overlay highlight_overlay_left" id="pioneer_highlight_overlay">Hover over us to enlarge, and then click for more information!</div> 
<div class="highlight_overlay highlight_overlay_top" id="search_highlight_overlay">Search up here for different topics!</div> 
{% endblock %}
