{% extends "layout.html" %}
{% block body %}
<svg id="datacanvas"></svg>
<div id="people_list">
  <div id="inner_scroll">
    <ul></ul>
  </div>
</div>
<div id="achievement_overlay">
</div>
<div id="impact_key">
  <h5>Impact Scale</h5>
  <ul title="Impactfulness of achievements are color-coded from 1 (low) to 5 (high).">
    <li class="one" title="One"></li>
    <li class="two" title="Two"></li>
    <li class="three" title="Three"></li>
    <li class="four" title="Four"></li>
    <li class="five" title="Five"></li>
  </ul>
</div>
{% endblock %}
