<!doctype html>
<html>
  <head>
    <title>Pioneers</title>
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script> 
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fm.selectator.jquery.2.2.min.css">
    <script src="/static/js/lib/underscore.1.8.3.min.js"></script>
    <script src="/static/js/lib/snapsvg.0.4.1.min.js"></script>
    <script src="/static/js/lib/fm.selectator.jquery.2.2.min.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <div class=page>
      <div id="searchform">
        <form method="get" id="search" action="/people">
          <select multiple name="tag" id="tags">
            {% for t in tags %}
            <option value="{{t}}">{{t}}</option>
            {% endfor %}
          </select>
          <input type="radio" name="op" value="OR">
          <input type="radio" name="op" value="AND">
          <input type="submit" value="Go">
        </form>
      </div>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
