<!doctype html>
<html>
  <head>
    <title>Pioneers</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type=javascript src=="{{ url_for('static', filename='app.js') }}"></script>
  </head>
  <body>
    <div class=page>
      <h1>Pioneers</h1>
      <form method="get" id="search" action="/people">
        <input type="text" id="tags">
        <input type="radio" name="op" value="OR">
        <input type="radio" name="op" value="AND">
        <input type="submit" value="Go">
      </form>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
