<!doctype html>
<html>
  <head>
    <title>Pioneers</title>
    <link rel="stylesheet" type="text/css" href="/static/css/selectivity-full.2.1.0.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/lib/zepto.1.1.6.min.js"></script>
    <script src="/static/js/lib/selectivity-full.2.1.0.min.js"></script>
    <script src="/static/js/lib/snapsvg.0.4.1.min.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body>
    <div class=page>
      <div id="searchform">
        <form method="get" id="search" action="/people">
          <select multiple name="tag" id="tags">
            {% for t in tags %}
            <option value="{{t}}">{{t}}</option>
            {% endfor %}
          </select>
          <input type="radio" name="op" value="OR">
          <input type="radio" name="op" value="AND">
          <input type="submit" id="go" value="Go">
        </form>
      </div>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
